body {
  background-color: tomato;
}
header {
  background-color: aquamarine;
}
h1 {
  background-color: black;
  color: aliceblue;
}
nav {
  background-color: yellowgreen;
}
nav ul {
  background-color: aqua;
}
nav ul li {
  background-color: bisque;
}
