* {
  padding: 15px;
  margin: 10px;
}
body {
  background-color: tomato;
}
header {
  background-color: aquamarine;
}
h1 {
  background-color: black;
  color: aliceblue;
}
nav {
  background-color: yellowgreen;
}
nav ul {
  background-color: aqua;
}
nav ul li {
  background-color: bisque;
}
nav ul li a {
  background-color: rgb(147, 147, 176);
  text-decoration: none;
}
main {
  background-color: teal;
}
article {
  background-color: thistle;
}
aside {
  background-color: crimson;
}
section {
  background-color: darkcyan;
}
card {
  background-color: darkorange;
}
footer {
  background-color: darkgrey;
}
p {
  background-color: darkturquoise;
}